apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: node-app-sm
  
  labels:
    release: prometheus
spec:
  selector:
      matchLabels:
        app: node-app
  namespaceSelector:
    any: true
  endpoints:
  - port: http
    interval: 15s
    path: /metrics
  
